// app global css in SCSS form
//Style for HomePage
.header {
  min-height: 80px;
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin: 0;
  padding: 0;
}
.title-header {
  display: flex;
  justify-content: center;
}
::-webkit-scrollbar {
  display: none;
}
.item-style {
  border-radius: 10px;
}
.progress-bar {
  border-radius: 15px;
}
.btn-add {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border: solid 1.5px #7286d3;
}
.text-modal {
  color: #4246dc;
  text-align: center;
}
.my-card {
  width: 100%;
}
.btn-modal-left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  //border-right: solid 1px #1536ba;
}
.btn-modal-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  border-left: solid 2px #1536ba;
  margin-left: 0px;
}
.btn-container {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
}
.textinput-style {
  font-size: 20px;
}
